/*header styles*/

.base-header{
    height: fit-content;
    padding: 1vh 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.base-active-link{
    color: gold;
    font-size: 2vh;
    font-weight: bold;
}

.base-header-link{
    color: white;
    font-size: 2vh;
}

.base-nav{
    display: flex;
    list-style-type: none;
    gap: 2vw;
}

.base-logo-container{
    display: flex;
    align-items: center;
    gap: 0;
}

.base-logo{
    width: 4vw;
    color: gold;
}

.base-title{
    font-size: 2vw;
    font-weight: bold;
    color: gold;
}

.base-header-left{
    display: flex;
    align-items: center;
    gap: 2vw;
    flex-grow: 5;
}

.base-user-container{
    display: flex;
    gap: 2vw;
}

.base-content-container{
    min-height: 77vh;
}

.base-footer{
    padding: 5vh 5vw;
    background-color: black;
    justify-self: flex-end;

    display: flex;
    justify-content: space-between;
}

.base-footer-nav{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.base-footer-link{
    color: white;
    font-size: 2vh;

    display: flex;
    gap: 0.5vw;
    align-items: center;
}

.base-footer-nav-container{
    display: flex;
    gap: 10vw;
}

.base-nav-icon{
    width: 1vw;
}


