@keyframes appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

*{
    font-family: Inter, serif;
    padding: 0;
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
    font-size: 1.5vh;
}

main{
    padding: 5vh 5vw;
}

button{
    padding: 1vh 1vw;
    background-color: gold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.button{
    padding: 1vh 1vw;
    background-color: gold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

input{
    padding: 1vh 1vw;
    border-radius: 10px;
    border: 1px solid black;
}

input[type='submit']{
    padding: 1vh 1vw;
    background-color: gold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2vh;
}

input[readonly]{
    background-color: #d0d0d0;
}
