{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/movies/active_list.css' %}">
{% endblock %}

{% block content %}
    <h1>Сейчас в кино</h1>
    <div class="movies-container">
        {% for movie in current_movies %}
            <div class="movie-card" id="movieCard" onmouseover="showCardInfo(event)" onmouseleave="closeCardInfo(event)">
                <img class='movie-image' src="{{ movie.image.url }}" alt="{{ movie.title }}">
                <div class="movie-card-text-nonactive">
                    <p class="movie-title">{{ movie.title }}</p>
                    <p>с {{ movie.start_of_rolling_date }}</p>
                    <a href="#" class="button">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1>Скоро в кино</h1>
    <div class="movies-container">
        {% for movie in next_movies %}
            <div class="movie-card" id="movieCard" onmouseover="showCardInfo(event)" onmouseleave="closeCardInfo(event)">
                <img class='movie-image' src="{{ movie.image.url }}" alt="{{ movie.title }}">
                <div class="movie-card-text-nonactive">
                    <p class="movie-title">{{ movie.title }}</p>
                    <p>с {{ movie.start_of_rolling_date }}</p>
                    <a href="#" class="button">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/movies/active_list.js' %}"></script>
{% endblock %}