{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/movies/movie_page.css' %}">
{% endblock %}

{% block title %}
	{{ movie.title }}
{% endblock %}

{% block content %}
    <div class="movie-container">
        <img class="movie-image" src="{{ movie.image.url }}" alt="{{ movie.title }}">
        <div class="movie-text-container">
            <div class="movie-title-container">
                <h1>{{ movie.title }}</h1>
                <p>{{ movie.age_restriction }}+</p>
            </div>
            <div class="movie-fields-container">
                <div class="movie-field">
                    <p class="movie-field-title">Жанр</p>
                    <p>{{ movie.genre }}</p>
                </div>
                <div class="movie-field">
                    <p class="movie-field-title">Режиссёр</p>
                    <p>{{ movie.director }}</p>
                </div>
                <div class="movie-field">
                    <p class="movie-field-title">Длительность</p>
                    <p>{{ movie.duration }} минут</p>
                </div>
                <p class="movie-description">{{ movie.description }}</p>
                {% if movie.get_sessions_count %}
                <a href="{% url 'screenings:film_schedule' movie=movie.id %}" class="button movie-buy-button">Купить билеты</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
