{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="base-header">
        <div class="base-title">
            <h1>Cinema</h1>
        <nav>
            <ul class="base-nav">
                <li><a href="#">Расписание</a></li>
                <li><a href="#">Фильмы</a></li>
            </ul>
        </nav>
        </div>
        <a href="#">Войти</a>
    </header>
    {% block content %}{% endblock %}
</body>
</html>