{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Cinema</title>
    <link rel="shortcut icon" href="{% static 'img/logo.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
    {% block style %}{% endblock %}
</head>
<body>
    <header class="base-header">
        <div class="base-header-left">
            <div class="base-logo-container">
            <img src="{% static 'img/logo.svg' %}" alt="logo" class="base-logo">
            <p class="base-title">Cinema</p>
        </div>
        <nav>
            <ul class="base-nav">
                <li><a href="{% url 'movies:index' %}" 
                   {% if request.path == '/' %}
                    class="base-active-link"
                   {% else %}
                    class="base-header-link"
                   {% endif %}
                >Фильмы</a></li>
                <li><a href="{% url 'screenings:schedule' %}" 
                   {% if request.path == '/screenings/schedule/' %}
                    class="base-active-link"
                   {% else %}
                    class="base-header-link"
                   {% endif %}
                >Расписание</a></li>
            </ul>
        </nav>
        </div>
        <div class="base-user-container">
            {% if request.user.is_authenticated %}
            	<a href="{% url 'users:profile' %}" 
                   {% if request.path == '/user/profile/' %}
                    class="base-active-link"
                   {% else %}
                    class="base-header-link"
                   {% endif %}
                >Профиль</a>
                <a class="base-header-link" href="{% url 'users:logout' %}">Выйти</a>
            {% else %}
                <a class="base-header-link" href="{% url 'users:login' %}">Войти</a>
            {% endif %}
        </div>
    </header>
    <main>
    <div class="base-content-container">
        {% block content %}{% endblock %}
    </div>

    </main>
    <footer class="base-footer">
        <div class="base-logo-container">
            <img src="{% static 'img/logo.svg' %}" alt="logo" class="base-logo">
            <p class='base-title'>Cinema</p>
        </div>
        <nav class="base-footer-nav-container">
            <ul class="base-footer-nav">
                <h3 class="white">Разделы</h3>
                <li><a class="base-footer-link" href="{% url 'movies:index' %}">Фильмы</a></li>
                <li><a class="base-footer-link" href="{% url 'screenings:schedule' %}">Расписание</a></li>
                {% if request.user.is_authenticated %}
                <li><a class="base-footer-link" href="{% url 'users:profile' %}">Профиль</a></li>
                {% endif %}
            </ul>
            <ul class="base-footer-nav">
                <h3 class="white">Ссылки</h3>
                <li><a class="base-footer-link" href="https://github.com/feeelin"><img class="base-nav-icon" src="{% static 'img/github-logo.svg' %}" alt="gh">Github</a></li>
                <li><a class="base-footer-link" href="https://t.me/feelindev"><img class="base-nav-icon" src="{% static 'img/telegram-logo.svg' %}" alt="tg">Telegram</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>