{% extends 'users/form.html' %}

{% block title %}
	Регистрация
{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <div>
        <div class="message">
            {% if messages or form.non_field_errors %}
                <div class="alert">
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% else %}
                        {{ form.non_field_errors }}
                    {% endif %}
                        <button type="button" class="close" id="close" data-dismiss="alert" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
            {% endif %}
        </div>
    <form class='auth-form' action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        <div class="auth-form-field">
            <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
            {{ form.username }}
        </div>
        <div class="auth-form-field">
            <label for="{{ form.first_name.id_for_label }}">Имя</label>
            {{ form.first_name }}
        </div>
        <div class="auth-form-field">
            <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
            {{ form.last_name }}
        </div>
        <div class="auth-form-field">
            <label for="{{ form.email.id_for_label }}">E-mail</label>
            {{ form.email }}
        </div>
        <div class="auth-form-field">
            <label for="{{ form.password1.id_for_label }}">Пароль</label>
            {{ form.password1 }}
        </div>
        <div class="auth-form-field">
            <label for="{{ form.password2.id_for_label }}">Подтвердите пароль</label>
            {{ form.password2 }}
        </div>
        <input type="submit" value="Зарегистрироваться">
        <a style="text-align: center" href="{% url 'users:login' %}">У меня уже есть аккаунт</a>
    </form>
    </div>
{% endblock %}